ShapeNet/ShapeNetRendering
ShapeNet/ShapeNetVox32
ShapeNet/results

mvs_dataset/images
mvs_dataset/point_clouds/*.ply
mvs_dataset/processed_voxels_pix2vox
mvs_dataset/results
mvs_dataset/results_new
mvs_dataset/voxels/*.binvox
mvs_dataset/*.zip